.page-header{
	margin:0 auto;
	width:85%;
	padding:0;
	border:none;
}

.logo{ margin: 29px 0;}

ul.nav{
	margin:18px 0;
	padding:0px;
}

.nav>li>a{
	margin:0px;
	padding:0px;
}

.nav li:nth-child(2){
	margin-right:15px;
}

.nav-pills>li>a:hover{background:none;}

#hero{
	position: relative;
	text-align: center;
    margin: 0 auto;
}

#hero img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.copy{
	  position: absolute; 
	  top: 27%;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 1;
	  color:white;
	  width:100%;
}

.copy h1{
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size:52px;
	text-align:left;
}

.copy p{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align:left;
	font-size:22px;
	font-weight:100;
	margin-top:20px;
}

.copy img{
	width:51% !important;
	text-align:left;
	float:left;
	margin-top:10px !important;
}

.service-wrapper{
	width:85%;
	margin:0 auto 50px auto;
	color:white;
	text-align:center;
}

.service-wrapper p{
	line-height:24px;
	margin-bottom:25px;
}

.service1{
	padding:50px;
	background-color:#2b95fd;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #2b95fd;
	width:95%;
	margin-bottom:20px;
}

.service2{
	padding:50px;
	background-color:#4e65ec;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #4e65ec;
	width:95%;
	margin-bottom:20px;
}

.service3{
	padding:50px;
	background-color:#7a30d3;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #7a30d3;
	width:95%;
}
.main-copy{
	width:100%;
	text-align:center;
	margin:70px auto;
}

h2{
	margin-top:0 !important;
	margin-bottom:24px !important;
	color:#2B95FD;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	font-size:36px;
	
}

.main-copy p{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color:#959595;
	font-size:22px;
	margin:0 auto;
}

h3{
	margin:0 !important;
	font-size:40px;
}

h4{
	margin:5px auto 25px auto;
}




@media screen and (max-width: 1090px) {
	.copy h1{
	font-size:3em;
    }
	
	h2{font-size:30px;}
	
	.main-copy p{ font-size:20px;}
}

@media screen and (max-width: 990px) {
	 .copy{
	  margin:auto;
   }

   .copy h1{
	font-size:3em;
	margin-left:200px;
   }
   
   .copy p{margin-left:200px;}
   
   .copy img{margin-left:200px !important; width:35% !important;}
}

@media screen and (max-width: 768px) {
   .page-header{margin:0 auto; position:relative; width:315px;}
   .logo{margin:29px auto; position:relative; width:155px;} 
   .copy{
	  top: 20%;
	  margin:auto;
}

   .copy h1{
	   margin-left:0px;
	   text-align: center;
	   font-size:3em;
}

	.copy p{
		 margin-left:0px;
		 text-align:center;
	}
    
	.copy img{
			margin: 0 32%!important; 
			
		 
		 	}

}

@media screen and (max-width: 640px) {
	
	.copy{
	  top: 14%;
	  margin:auto;
}

   .copy h1{
	   font-size:2em;
}

	.copy p{
		 font-size:0.9em;
	}
	
	h2{font-size:1.4em;}
	
	.main-copy p{ font-size:0.9em;}
    
	
	
}